<<<<<<< HEAD
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
=======
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
>>>>>>> c906c92b16ea7ecb1d8ef3047e7fb1374388178a
  